.foo-card {
  width: 100px;
  height: 180px;
  border-radius: 10px;
  border: 1px solid black;

  &[data-color='0'] {
    background-color: blue;
  }
  &[data-color='1'] {
    background-color: green;
  }
  &[data-color='2'] {
    background-color: pink;
  }
  &[data-color='3'] {
    background-color: yellow;
  }
  &[data-color='4'] {
    background-color: gray;
  }

  &::before {
    content: attr(data-value);
    display: inline-block;
    background: black;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
  }
}
